#salesForm .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#salesForm .input-group {
  text-align: left;
}
#salesForm .radio-group {
  display: flex;
  justify-content: space-between;
}
